<!DOCTYPE html>
<html data-ng-app="frontPageApp">
<head>
    <!-- Style sheet -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
    <link href="css/masthead.css" rel="stylesheet"/>
    <link href="css/frontpage.css" rel="stylesheet"/>
    <link href="css/load-modal.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="images/elecoder.ico">
    <title>Bigademy - Learning Big Data made easy and interactive</title>
    <meta name="description"
          content="Bigademy - Learning Big Data made easy and interactive">
</head>
<body data-ng-controller="frontPageController">
<div class="container-fluid">
    <div class="row">
        <masthead/>
    </div>

    <div class="row intro">
        <div class="col-xs-8 col-xs-offset-4">
            <div class="intro-main-line">Learning Big Data made easy and interactive!</div>
        </div>
    </div>

    <div class="row wait-list-container intro">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-4">
                    <input type="text" data-ng-model="frontPageParam.waitListEmail"
                           class="form-control" placeholder="Enter your Email...">
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-info" data-ng-click="addToWaitList()">Join the Waitlist !
                    </button>
                </div>

                <div class="col-xs-3">
                    <div class="wait-list-notification" data-ng-if="frontPageParam.added">Thank You for joining the
                        wait list. We will contact you shortly!
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row ">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xs-12">
                    <div carousel interval="3000">
                        <div slide data-ng-repeat="slide in slides" class="slide-show">
                            <img src="{{slide.image}}" height="1050px" width="1050px" style="margin: auto;"/>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

<script src="lib/jquery/jquery-1.11.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<script src="js/masthead.js"></script>
<script src="lib/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/frontpage.js"></script>
</div>
</body>
</html>